.card-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 3rem;
}

.innerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  width: 100%;
  gap: 1.5rem;
}

.card {
  background-color: var(--Neutral-800);
  padding: 1.5rem;
  border-radius: 1rem;
  border: .1rem solid var(--Neutral-600);
}

.card-body {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
  margin-bottom: 3rem;
}

.card-title {
  font-weight: bold;
  margin-bottom: .3rem;
}

.card-title  + p {
  font-size: 1.2rem;
  color: var(--Neutral-300);
  width: 90%;
  line-height: 1.5;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer button {
  background-color: var(--Neutral-800);
  border: .1rem solid var(--Neutral-600);
  padding: .65rem 1rem;
  border-radius: 50rem;
  color: var(--Neutral-200);
  font-weight: bold;
  cursor: pointer;
}

.card-footer button:focus {
  outline: 2px solid var(--Red-700);
  border: 1px solid var(--Neutral-900);
}

.card-footer button:hover {
  background: var(--Red-500);
  color: var(--Neutral-900);
  border: none;
}

.toggle-icon {
  font-size: 3.5rem;
  border: 1px solid var(--Neutral-800);
  cursor: pointer;
}

.active {
  color: var(--Red-500);
}

.notActive {
  color: var(--Neutral-600);
}