.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--hero-text);
  margin-bottom: 3rem;
  padding:4rem 0 2rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  font-size: 1.6rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  background-color: var(--link-bg);
  padding: .75rem 1rem;
  border-radius: 50rem;
  color: var(--hero-text);
  cursor: pointer;
  border: .1rem solid var(--border-outline);
}

.nav-links a:not(a.active):hover {
  background: var(--border-outline);
}

.nav-links a:focus {
  outline: 2px solid var(--link-outline);
  border: 1px solid var(--btn-hover);
}

.nav-links a.active {
  background: var(--active);
  color: var(--btn-hover);
}

.navLinkHeader {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 540px) {
  .navigationContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}