:root {
  --btn-hover: hsl(227, 75%, 14%);
  --header-bg: hsl(226, 25%, 17%);
  --link-bg: hsl(225, 23%, 24%);
  --border-outline: hsl(225, 11%, 29%);
  --hero-text: hsl(0, 0%, 78%);
  --btn-color: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);

  --Red-400: hsl(3, 86%, 64%);
  --active: hsl(3, 71%, 56%);
  --link-outline: hsl(3, 77%, 44%);

  --Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.light-mode {
  --Gradient: linear-gradient(180deg, #EBF2FC 0%, #96bcbe 100%);
  --header-bg:var(--Neutral-0) ;
  --border-outline: hsl(225, 11%, 29%);
  --btn-color: hsl(227, 75%, 14%);


  --hero-text: hsl(227, 75%, 14%);
  --link-bg: hsl(0, 0%, 93%);
  --btn-hover: hsl(200, 60%, 99%);
    --active: hsl(3, 71%, 56%);
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-container {
    background: var(--Gradient);
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
}

header, main, section {
  width: min(100%, 1000px);
}